<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


    <!-- Custom CSS -->
    <style>
        /* Global Styles */
        body {
            font-family: 'Cambria', sans-serif;
            background-color: #f5f5f5;
            color: #333;
        }

        .container {
            background-color: #fff;
            padding: 30px 50px;
            border-radius: 8px;
            box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
            margin-top: 50px;
        }

        h1.text-center {
            color: #444;
            font-weight: 600;
        }

        .card {
            border-radius: 5px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            margin-bottom: 25px;
        }

        .card-header {
            background-color: #2C3E50;
            color: #fff;
            font-weight: 600;
            border-radius: 5px 5px 0 0;
        }

        .form-control,
        .form-check-input {
            border-radius: 5px;
            border: 1px solid #ccc;
            padding: 10px 15px;
        }

        .form-control:focus {
            border-color: #3498DB;
            box-shadow: 0 0 0 0.2rem rgba(52, 152, 219, 0.25);
        }

        .btn {
            border-radius: 5px;
            font-weight: 600;
        }

        .btn-secondary {
            background-color: #7f8c8d;
            color: #fff;
            border: none;
        }

        .btn-secondary:hover {
            background-color: #6c7a89;
        }

        .btn-primary {
            background-color: #3498DB;
            border: none;
            color: #fff;
            padding: 10px 25px;
        }

        .btn-primary:hover {
            background-color: #2980B9;
        }

        .form-check-label {
            font-size: 0.9em;
            color: #7f8c8d;
        }

        /* Spacing Adjustments */
        .mt-3 {
            margin-top: 20px !important;
        }

        .mt-5 {
            margin-top: 50px !important;
        }

        .mb-3 {
            margin-bottom: 20px !important;
        }

        .mb-4 {
            margin-bottom: 30px !important;
        }

        .ml-3 {
            margin-left: 20px !important;
        }


        .ui-datepicker-calendar {
            display: none;
        }
    </style>

    <title>Create Your Resume</title>
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center mb-4">Create Your Resume</h1>
        <form action="/generate_resume" method="POST">
            <div class="row">
                <!-- Personal Information -->
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">Personal Information</div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="name">Name:</label>
                                <input type="text" class="form-control" id="name" name="name" placeholder="Full Name" required>
                            </div>
                            <div class="form-group">
                                <label for="location">Location:</label>
                                <input type="text" class="form-control" id="location" name="location" placeholder="City, State(Tucson, AZ)">
                            </div>
                            <div class="form-group">
                                <label for="email">Email:</label>
                                <input type="email" class="form-control" id="email" name="email" required>
                            </div>
                            <div class="form-group">
                                <label for="phone">Phone:</label>
                                <input type="tel" class="form-control" id="phone" name="phone" placeholder="+1(909)-893-6787">
                            </div>
                            <div class="form-group">
                                <label for="github">Github:</label>
                                <input type="url" class="form-control" id="github" name="github">
                                <input type="checkbox" id="exclude_github" name="exclude_github" onchange="toggleInput('github', 'exclude_github')">
                                <label for="exclude_github">Exclude Github from resume</label>
                            </div>
                            <div class="form-group">
                                <label for="portfolio">Portfolio:</label>
                                <input type="url" class="form-control" id="portfolio" name="portfolio">
                                <input type="checkbox" id="exclude_portfolio" name="exclude_portfolio" onchange="toggleInput('portfolio', 'exclude_portfolio')">
                                <label for="exclude_portfolio">Exclude Portfolio from resume</label>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Skills -->
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">Skills</div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="skills">Skills:(Separated by Commas)</label>
                                <textarea class="form-control" id="skills" name="skills" rows="3"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
    <!-- Education -->
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">Education</div>
            <div class="card-body" id="educationContainer">

                <!-- This is a single education record wrapped inside an education-section div -->
                <div class="education-section">

                    <div class="form-group">
                        <label for="major">Major:</label>
                        <input type="text" class="form-control" id="major" name="major" placeholder="Bachelors of Science in Computer Science">
                    </div>
                    <div class="form-group">
                        <label for="university">University:</label>
                        <input type="text" class="form-control" id="university" name="university" placeholder="University of ">
                    </div>
                    <div class="form-group">
                        <label for="start-date">Start Date:</label>
                        <input type="text" class="form-control start-date" id="start-date" name="start_date">
                    </div>
                    <div class="form-group">
                        <label for="end-date">End Date:</label>
                        <input type="text" class="form-control end-date" id="end-date" name="end_date">
                    </div>
                    <div class="form-group">
                        <label for="gpa_0">GPA:</label>
                        <input type="text" class="form-control" id="gpa_0" name="gpa_0">
                        <input type="checkbox" id="exclude_gpa_0" name="exclude_gpa_0" onchange="toggleInputForDynamicContent(this, 'gpa_0')">
                        <label for="exclude_gpa_0">Exclude GPA from resume</label>
                        <input type="hidden" name="education_ids[]" value="0"> <!-- Hidden field -->
                    </div>
                    <div class="form-group">
                        <label for="courses">Relevant Courses:</label>
                        <textarea class="form-control" id="courses" name="courses"></textarea>
                    </div>

                </div> <!-- End of the education-section div -->

            </div>
            <button type="button" class="btn btn-secondary mb-3 ml-3" onclick="addEducation()">Add Education</button>
        </div>
    </div>



                <!-- Experience -->
              <div class="col-md-6">
                <div class="card">
                    <div class="card-header">Experience
                    <!-- Checkbox to indicate no experience -->
                        <input type="checkbox" id="noExperience" name="no_experience" value="true" onchange="toggleExperienceCard(this)">

                        <label for="noExperience" class="ml-2">I don't have any experience</label>
                    </div>
                    <div class="card-body" id="experienceContainer">
                        <div class="form-group">
                            <label for="role">Role :</label>
                            <input type="text" class="form-control" id="role" name="role">
                        </div>
                        <div class="form-group">
                            <label for="company">Company :</label>
                            <input type="text" class="form-control" id="company" name="company">
                        </div>
                        <div class="form-group">
                            <label for="job-start-date">Start Date:</label>
                            <input type="text" class="form-control start-date" id="job-start-date" name="job_start_date">
                        </div>
                        <div class="form-group">
                            <label for="job-end-date">End Date:</label>
                            <input type="text" class="form-control end-date" id="job-end-date" name="job_end_date_visible">
                            <input type="hidden" id="job-end-date-hidden" name="job_end_date_hidden">
                            <!-- Only one checkbox for the top-most (most recent) job -->
                            <input type="checkbox" id="current_job" name="current_job" onchange="toggleEndDate(this)">
                            <label for="current_job">Current Job</label>
                        </div>
                        <!-- Add more experience fields as necessary, without the checkbox -->

                        <div class="form-group">
                            <label for="job-description">Job Description :</label>
                            <textarea class="form-control" id="job-description" name="job-description" rows="3"></textarea>
                        </div>
                    </div>
                    <button type="button" class="btn btn-secondary mb-3 ml-3" onclick="addExperience()" id="btnaddexp">Add Experience</button>
                </div>
            </div>
            </div>

            <div class="row">
                <!-- Projects -->
                <div class="col-md-6">
    <div class="card">
        <div class="card-header">Projects</div>
        <div class="card-body" id="projectContainer">
            <div class="form-group">
                <label for="project-title">Project Title:</label>
                <input type="text" class="form-control" id="project-title" name="project_names[]">
            </div>
            <div class="form-group">
                <label for="project-url">Project URL:</label>
                <input type="url" class="form-control" id="project-url" name="project_urls[]">
            </div>
            <div class="form-group">
                <label for="project-description">Project Description:</label>
                <textarea class="form-control" id="project-description" name="project_descriptions[]" rows="3"></textarea>
            </div>
        </div>
        <button type="button" class="btn btn-secondary mb-3 ml-3" onclick="addProject()">Add Project</button>
    </div>
</div>



            </div>

            <button type="submit" class="btn btn-primary mt-3">Generate Resume</button>
        </form>
    </div>


<script>

function toggleExperienceCard(checkbox) {
    if (checkbox.checked) {
        $('#experienceContainer').hide();  // Hide the content
        $('#btnaddexp').hide();
    } else {
        $('#experienceContainer').show();  // Show the content

        $('#btnaddexp').show();
    }
}



   $(document).ready(function() {
    initializeDatepickers();

    // Initialize hidden end date on page load to match the visible end date input's value
    $('.end-date').each(function() {
        var endDateInput = $(this);
        var endDateHiddenInput = endDateInput.siblings('#job-end-date-hidden');
        endDateHiddenInput.val(endDateInput.val());
        console.log("Page load: Set hidden end date value to:", endDateHiddenInput.val());
    });

    // Update hidden input whenever visible input changes
    $('.end-date').on('change', function() {
        var endDateInput = $(this);
        var endDateHiddenInput = endDateInput.siblings('#job-end-date-hidden');
        endDateHiddenInput.val(endDateInput.val());
        console.log("User input: Set hidden end date value to:", endDateHiddenInput.val());
    });
});

function toggleEndDate(checkbox) {
    var endDateInput = $(checkbox).closest('.form-group').find('.end-date');
    var endDateHiddenInput = $(checkbox).closest('.form-group').find('#job-end-date-hidden');

    if (checkbox.checked) {
        endDateInput.prop('disabled', true).val('Present');
        endDateHiddenInput.val('Present');
    } else {
        endDateInput.prop('disabled', false);
        endDateHiddenInput.val('');

    }

    console.log("Checkbox", checkbox.checked ? "checked:" : "unchecked:", "Visible value:", endDateInput.val(), "Hidden value:", endDateHiddenInput.val());
}

function toggleInput(inputId, checkboxId) {
    var input = document.getElementById(inputId);
    var checkbox = document.getElementById(checkboxId);
    input.disabled = checkbox.checked;
    if(checkbox.checked) {
        input.value = ""; // clear the input value
    }
}

function initializeDatepickers() {
    $(".start-date, .end-date").datepicker({
        changeMonth: true,
        changeYear: true,
        dateFormat: 'MM yy',
        showButtonPanel: true,
        onSelect: function(dateText) { // This function is the new addition
            var endDateInput = $(this);
            var endDateHiddenInput = endDateInput.siblings('#job-end-date-hidden');
            endDateHiddenInput.val(dateText);
            console.log("Datepicker selection: Set hidden end date value to:", endDateHiddenInput.val());
        },
        onClose: function(dateText, inst) {
            var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
            var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
            $(this).datepicker('setDate', new Date(year, month, 1));
        },
        beforeShow: function(input, inst) {
            if ((datestr = $(this).val()).length > 0) {
                year = datestr.substring(datestr.length - 4, datestr.length);
                month = jQuery.inArray(datestr.substring(0, datestr.length - 5), $(this).datepicker('option', 'monthNames'));
                $(this).datepicker('option', 'defaultDate', new Date(year, month, 1));
                $(this).datepicker('setDate', new Date(year, month, 1));
            }
        }
    });
}



    function addElement(containerID, template) {
        document.getElementById(containerID).insertAdjacentHTML('beforeend', template);
    }
    let educationCounter = 1; // Global counter for education sections
  function addEducation() {
    var newEducationInput = `
    <div class="education-section">
        <div class="form-group">
            <label for="major">Major:</label>
            <input type="text" class="form-control" name="major">
        </div>
        <div class="form-group">
            <label for="university">University:</label>
            <input type="text" class="form-control" name="university">
        </div>
        <div class="form-group">
            <label for="start-date">Start Date:</label>
            <input type="text" class="form-control start-date" name="start_date">
        </div>
        <div class="form-group">
            <label for="end-date">End Date:</label>
            <input type="text" class="form-control end-date" name="end_date">
        </div>
        <div class="form-group">
            <label for="gpa_${educationCounter}">GPA:</label>
            <input type="text" class="form-control" id="gpa_${educationCounter}" name="gpa_${educationCounter}">
            <input type="checkbox" id="exclude_gpa_${educationCounter}" name="exclude_gpa_${educationCounter}" onchange="toggleInputForDynamicContent(this, 'gpa_${educationCounter}')">
            <label for="exclude_gpa_${educationCounter}">Exclude GPA from resume</label>
            <input type="hidden" name="education_ids[]" value="${educationCounter}"> <!-- Hidden field -->
        </div>
        <div class="form-group">
            <label for="courses">Relevant Courses:</label>
            <textarea class="form-control" name="courses"></textarea>
        </div>
        <button type="button" class="btn btn-danger remove-education">Remove</button>
    </div>`;

    educationCounter++;
    document.getElementById("educationContainer").insertAdjacentHTML('beforeend', newEducationInput);
    initializeDatepickers();
}
function toggleInputForDynamicContent(checkbox, inputName) {
    var input = $(checkbox).closest('.education-section').find(`input[name=${inputName}]`)[0];
    input.disabled = checkbox.checked;
    if (checkbox.checked) {
        input.value = "";  // clear the input value
    }
}


function initializeDatepickers() {
    $(".start-date, .end-date").datepicker({
        changeMonth: true,
        changeYear: true,
        dateFormat: 'MM yy',
        showButtonPanel: true,
        onClose: function(dateText, inst) {
            var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
            var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
            $(this).datepicker('setDate', new Date(year, month, 1));
        },
        beforeShow: function(input, inst) {
            if ((datestr = $(this).val()).length > 0) {
                year = datestr.substring(datestr.length - 4, datestr.length);
                month = jQuery.inArray(datestr.substring(0, datestr.length - 5), $(this).datepicker('option', 'monthNames'));
                $(this).datepicker('option', 'defaultDate', new Date(year, month, 1));
                $(this).datepicker('setDate', new Date(year, month, 1));
            }
        }
    });
}
$(document).ready(function() {
    // Event delegation to handle the removal of dynamically added education sections
    $('#educationContainer').on('click', '.remove-education', function() {
        $(this).closest('.education-section').remove();
    });
});




    function addExperience() {
    var newExperienceInput = `
        <div class="experience-section">
            <div class="form-group">
                <label for="role">Role :</label>
                <input type="text" class="form-control" name="role">
            </div>
            <div class="form-group">
                <label for="company">Company :</label>
                <input type="text" class="form-control" name="company">
            </div>
            <div class="form-group">
                <label for="job-start-date">Start Date:</label>
                <input type="text" class="form-control start-date" name="job_start_date">
            </div>
            <div class="form-group">
                <label for="job-end-date">End Date:</label>
                <input type="text" class="form-control end-date" name="job_end_date">
            </div>
            <div class="form-group">
                <label for="job-description">Job Description :</label>
                <textarea class="form-control" name="job-description" rows="3"></textarea>
            </div>
            <button type="button" class="btn btn-danger remove-experience">Remove</button>
        </div>`;

    document.getElementById("experienceContainer").insertAdjacentHTML('beforeend', newExperienceInput);
    initializeDatepickers();
}

// Reusing the datepicker function from before, you can adjust the datepicker options as required.
function initializeDatepickers() {
    $(".start-date, .end-date").datepicker({
        changeMonth: true,
        changeYear: true,
        dateFormat: 'MM yy',
        showButtonPanel: true,
        onClose: function(dateText, inst) {
            var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
            var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
            $(this).datepicker('setDate', new Date(year, month, 1));
        },
        beforeShow: function(input, inst) {
            if ((datestr = $(this).val()).length > 0) {
                year = datestr.substring(datestr.length - 4, datestr.length);
                month = jQuery.inArray(datestr.substring(0, datestr.length - 5), $(this).datepicker('option', 'monthNames'));
                $(this).datepicker('option', 'defaultDate', new Date(year, month, 1));
                $(this).datepicker('setDate', new Date(year, month, 1));
            }
        }
    });
}

$(document).ready(function() {
    // Event delegation to handle the removal of dynamically added experience sections
    $('#experienceContainer').on('click', '.remove-experience', function() {
        $(this).closest('.experience-section').remove();
    });
});


    function addProject() {
    var template = `
        <div class="project-section">
            <div class="form-group">
                <label for="project_name">Project Name:</label>
                <input type="text" class="form-control" name="project_names[]">
            </div>
            <div class="form-group">
                <label for="project_url">Project URL:</label>
                <input type="url" class="form-control" name="project_urls[]">
            </div>
            <div class="form-group">
                <label for="project_description">Project Description:</label>
                <textarea class="form-control" name="project_descriptions[]" rows="3"></textarea>
            </div>
            <button type="button" class="btn btn-danger remove-project">Remove</button>
        </div>`;
    addElement("projectContainer", template);

    // Event listener for the removal of dynamically added project sections
    $('.remove-project').last().on('click', function() {
        $(this).closest('.project-section').remove();
    });
}

function addElement(parentId, element) {
    document.getElementById(parentId).insertAdjacentHTML('beforeend', element);
}



   function addAward() {
    var template = `
        <div class="award-section">
            <div class="form-group">
                <label for="award-title">Award Title:</label>
                <input type="text" class="form-control" name="award_title[]">
            </div>
            <div class="form-group">
                <label for="award-description">Award Description:</label>
                <textarea class="form-control" name="award_description[]" rows="3"></textarea>
            </div>
            <button type="button" class="btn btn-danger remove-award">Remove</button>
        </div>`;
    addElement("awardContainer", template);

    $(document).ready(function() {
    // Event delegation to handle the removal of dynamically added award sections
    $('#awardContainer').on('click', '.remove-award', function() {
        $(this).closest('.award-section').remove();
    });
});

}

function addElement(parentId, element) {
    document.getElementById(parentId).insertAdjacentHTML('beforeend', element);
}


</script>

</body>
</html>
